
body {
  font-family: "Montserrat Alternates" , sans-serif;
  margin: 0;
  background-color: #f7ece1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a4b0f5;
  padding: 0 5%;
}

.header__title {
  font-family: "Abril Fatface";
  font-size: 3vw;
  color: white;
}

.header__navbar_link {
  text-decoration: none;
  font-size: 2vw;
  font-weight: 100;
  color: white;
  margin-right: 1vw;
  margin-left: 1vw;
  transition: all .3s ease-in-out;
}

.header__navbar_link:hover {
  color: #7c6354;
}

.content {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#a4b0f5, #f7ece1);
  padding: 5% 5%;
}

.content__card {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  box-shadow: 10px 10px 0 #7c635494;
  padding: 2%;
  margin-top: 2%;
}

.content__card_image {
  width: 50%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
}

.content__card_text {
  width: 45%;
  text-align: left;
  line-height: 2;
  font-size: 0.8em;
}

.content__card_table {
  width: 100%;
  line-height: 2;
  font-size: 2.6vw;
}

.content__card_table__head {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}

.pins {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 95%;
  background: linear-gradient(#a4b0f5, #f7ece1);
  padding: 5% 5%;
}


.pins__card {
  display: flex;
  flex-direction: column;
  padding: 2vh 2vw;
  width: 25vw;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 8vh;
  margin-right: 1vw;
  border-radius: 15%;
  font-size: 1.4vw;
  transition: all .5s ease-in-out;
}

.pins__card:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transform : scale(1.1);
}

.pins__card_image {
  width: 100%;
  height: 100%;
}


.footer {
  display:flex;
  justify-content: flex-end;
  height: 5%;
  padding: 0 5%;
  background: linear-gradient(#f7ece1, white);
  margin: 0;
}

.footer__icon {
  height: 30px;
  width: 30px;
}